/* @import '../../../../../css/vars.css'; */

chat-gallery {
  contain: content;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;

  & chat-gallery-image > figure {
    margin-right: 0.5rem;

    & > chat-image {
      height: 200px;
      width: calc(var(--chat-ui_width) - 3rem);
      object-fit: cover;
    }
  }

  & > [sticky] {
    position: sticky;
    top: 0;
    left: 2rem;
    width: 0;
    z-index: 10;
  }

  &[mine] > [sticky] {
    left: calc(100% - 4rem);
  }
}

chat-gallery-image {
  & > figure {
    margin: 1rem 0;
    max-width: 100%;
    max-height: 60vh;
    position: relative;

    & > chat-image {
      width: 100%;
      object-fit: cover;
    }

    & > figcaption {
      position: absolute;
      top: -1rem;
      left: 2rem;
    }
  }
}
