.centered-demo {
  height: 100vh;
}

chat-ui {
  box-shadow: 0 3rem 10rem hsl(0,0%,60%);
}

.test-buttons {
  padding-right: 2rem;

  & > button {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width:768px) {
  body {
    overflow: hidden;
  }

  .test-buttons {
    display: none !important;
  }

  .centered-demo chat-ui {
    width: 100vw;
    height: 100vh;
  }
}
