.centered-demo {
  height: 100vh;
}

chat-ui {
  box-shadow: 0 3rem 10rem hsl(0,0%,60%);
}

.test-buttons {
  padding-right: 2rem;

  & > button {
    margin-top: 0.5rem;
  }

  & > h5 {
    margin-bottom: 0.5rem;
  }

  & > textarea {
    min-width: 10rem;
    margin-top: 1rem;
    border: none;
    background: hsl(0,0%,90%);
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}

@media screen and (orientation:portrait) {
  body {
    overflow: hidden;
  }

  .test-buttons {
    display: none !important;
  }

  .centered-demo chat-ui {
    width: 100vw;
    height: 100vh;
  }
}
