.centered-demo {
  height: 100vh;
}

chat-ui {
  box-shadow: 0 1rem 2rem hsl(0,0%,60%);
}

@media screen and (orientation: portrait),
@media screen and (min-width:480px) {
  body {
    overflow: hidden;
  }

  .centered-demo chat-ui {
    width: 100vw;
    height: 100vh;
  }
}
