chat-ui
  chat-titlebar
    //- span ←
    h5 Chat UI
    chat-avatar(src='https://pbs.twimg.com/profile_images/880147119528476672/S7C-2C6t.jpg')

  chat-scrollview: chat-messagelist
    chat-authoring
    chat-cluster
      chat-avatar(src='https://cdn.dribbble.com/users/37530/screenshots/2937858/drib_blink_bot.gif')
      section
        h3 ${bot_name}
        chat-message Hi!
        chat-message I'm a bot 😉
        chat-message Hopefully you find me useful some how
    //- chat-cluster(mine avatar='..' username='${bot_name}' message='foo')
    chat-cluster(mine)
      chat-avatar(src='')
      section
        h3 Not Bot 
        chat-message I'm <i>NOT</i> a bot
        chat-message 😉
        chat-message what kind of things can you do?
        chat-message can you generate ipsum so i can test really long messages in the thread?
    chat-cluster
      chat-avatar(src='https://cdn.dribbble.com/users/37530/screenshots/2937858/drib_blink_bot.gif')
      section
        h3 ${bot_name}
        chat-message Yep! Here's some cupcake ipsum
        chat-message Cake brownie chocolate jujubes liquorice lollipop jelly biscuit. Liquorice carrot cake jelly beans tootsie roll. 
        chat-message Marshmallow ice cream dragée cheesecake marshmallow halvah cookie marshmallow. Sesame snaps tootsie roll dessert gingerbread liquorice cake halvah bear claw. Bonbon wafer sugar plum topping tiramisu. Sesame snaps fruitcake dessert marshmallow jelly marzipan bonbon carrot cake.
    chat-cluster(mine)
      chat-avatar(src='')
      section
        h3 Not Bot 
        chat-message Well played
    chat-cluster(indeterminate)
      chat-avatar(src='https://cdn.dribbble.com/users/37530/screenshots/2937858/drib_blink_bot.gif')
      section
        h3 ${bot_name}
        chat-message ...
