.test-buttons(grid='rows' horizontally-aligned='right')
  button(onclick='testCard()') Add Card
  button(onclick='testCards()') Add Cards
  button(onclick='testGallery()') Add Gallery
  button(onclick='testImage()') Add Image
  button(disabled) Add Video
  button(disabled) Add HTML