@import '../../../../css/vars.css';

chat-titlebar {
  height: 1.25rem;
  background: var(--theme-bg, blue);
  color: var(--theme-text_color, white);
  box-shadow: 0 0.1rem 1rem hsla(0,0%,0%,40%);
  overflow: hidden;
  padding: 1rem;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  will-change: transform;
  transition: transform 0.15s var(--easing-quick);

  &[hide] {
    transform: translateY(-120%);
  }

  & > span {
    margin-right: 2rem;
    line-height: 1.1;
    font-size: 1.4rem;
  }

  & > h5 {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.1;

    flex: 2;
    margin: 0;
  }

  & > figure {
    margin: 0 0 0 auto;
  }
}