/* @import '../../../../../css/vars.css'; */

chat-cards {
  contain: content;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;

  /*&::-webkit-scrollbar {
    display: none;
  }*/
  
  & > [sticky] {
    position: sticky;
    top: 0;
    left: 2rem;
    width: 0;
    z-index: 10;
  }

  &[mine] > [sticky] {
    left: calc(100% - 4rem);
  }
}

chat-card {
  min-width: calc(var(--chat-ui_width) - 3rem);
  background: white;
  box-shadow: 0 0.2em 0.3em hsla(0,0%,0%,20%);
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  box-sizing: border-box;

  & > .card-content {
    flex: 2;
    margin-bottom: 0.5rem;
      
    & > img {
      max-width: 100%;
    }

    & > p {
      margin: 0.5rem;
      color: hsl(0, 0%, 10%);
      font-size: var(--chat-ui_message_font-size);
    }
  }

  & > .card-footer {
    padding-top: 0.5rem;
    border-top: 1px solid hsl(0,0%,90%);
    
    & > a {
      font-size: var(--chat-ui_message_font-size);
      color: hsl(0, 0%, 40%);
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;

      &:hover {
        background: hsl(0,0%,96%);
        box-shadow: 0 0.1rem 0.25rem hsl(0,0%,70%);
      }
    }
  }
}
