@import '../../../../css/vars.css';

chat-cluster {
  margin: 0.25rem 3rem 0.75rem 0.5rem;
  align-self: flex-start;

  &[indeterminate] {
    & h3 {
      display: none;
    }

    & chat-message {
      background: var(--theme-text_color);
      color: var(--theme-bg);
      box-shadow: 0 0.25rem 0.25rem hsl(0,0%,90%);

      &:after {
        content: ".";
        animation: slide_out 0.5s ease alternate infinite;
      }
    }
  }

  & > chat-avatar {
    margin-right: 0.5rem;
  }

  & > section {
    flex: 2;

    & > h3 {
      margin: 0 0 0 0.7rem;
      font-size: 0.7rem;
      font-weight: lighter;
      color: hsl(0,0%,60%);
    }
  }

  /* alternation styles */
  &[mine] {
    margin-left: 3rem;
    margin-right: 0.5rem;
    align-self: flex-end;

    & > chat-avatar, & > section > h3 {
      display: none;
    }

    & > section {
      align-items: flex-end;

      & > chat-message {
        background: var(--theme-compliment);
        border-radius: 1rem 0.25rem 0.25rem 1rem;

        &[new] {
          transform: translateX(1rem);
        }

        &:first-of-type {
          border-radius: 1rem 1rem 0.25rem 1rem;
        }

        &:last-child:not(:first-of-type) {
          border-radius: 1rem 0.25rem 1rem 1rem;
        }
      }
    }
  }

  &[removed] {
    & chat-avatar {
      opacity: 0;
      transform: scale3d(0.1,0.1,1);
      transition: transform 0.4s var(--easing-quick), opacity 0.5s ease;
    }

    & chat-message {
      animation: slide_out 0.5s var(--easing-quick);
    }
  }
}