@import '../../../../css/vars.css';

chat-message {
  /* background-color: var(--theme-bg, blue); */
  /* color: var(--theme-text_color, white); */
  background-color: white;
  font-size: var(--chat-message_font-size);
  line-height: 1.4;

  padding: 0.5rem 0.75rem;
  margin: 0;
  border-radius: 0.25rem 1rem 1rem 0.25rem;

  &:first-of-type {
    border-radius: 1rem 1rem 1rem 0.25rem;
  }

  &:last-child:not(:first-of-type) {
    border-radius: 0.25rem 1rem 1rem 1rem;
  }

  &:not(:first-child) {
    margin-top: 3px;
  }

  &[new] {
    opacity: 0;
    transform: translateX(-1rem);
    animation: slide_in 0.5s var(--easing-quick) forwards;
  }

  & img {
    max-width: 100%;
  }

  & pre {
    display: inline;
    background: hsla(0,0%,0%,10%);
    border-radius: 0.25rem;
  }
}

[mine] chat-message {
  /* background: var(--theme-compliment); */
  background: hsl(0,0%,85%);
  border-radius: 1rem 0.25rem 0.25rem 1rem;
  box-shadow: inset 0 -0.1rem 1rem hsl(0,0%,80%);

  &[new] {
    transform: translateX(1rem);
  }

  &:first-of-type {
    border-radius: 1rem 1rem 0.25rem 1rem;
  }

  &:last-child:not(:first-of-type) {
    border-radius: 1rem 0.25rem 1rem 1rem;
  }
}

@keyframes slide_in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide_out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-1rem);
  }
}

@media screen and (max-width:350px) {
  :root {
    --chat-message_font-size: 1rem;
  }

  chat-message {
    font-size: 1rem;
  }
}