@import '../../../../css/vars.css';

chat-message {
  background-color: var(--theme-bg, blue);
  color: var(--theme-text_color, white);
  font-size: 0.8rem;
  line-height: 1.4;

  padding: 0.5rem 0.75rem;
  margin: 0;
  border-radius: 0.25rem 1rem 1rem 0.25rem;

  &:first-of-type {
    border-radius: 1rem 1rem 1rem 0.25rem;
  }

  &:last-child:not(:first-of-type) {
    border-radius: 0.25rem 1rem 1rem 1rem;
  }

  &:not(:first-child) {
    margin-top: 2px;
  }

  &[new] {
    opacity: 0;
    transform: translateX(-1rem);
    animation: slide_in 0.5s var(--easing-quick) forwards;
  }

  & img {
    max-width: 100%;
  }
}

@keyframes slide_in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide_out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-1rem);
  }
}

@media screen and (orientation: portrait),
@media screen and (min-width:480px) {
  chat-message {
    font-size: 1rem;
  }
}