.chat-ui {
  width: 320px;
  height: 480px;
  background: hsl(0,0%,98%);

  & .avatar {
    width: 2rem;
    height: 2rem;
    background: hsl(0,0%,90%);
    border-radius: 50%;
  }

  & > .chat-ui_scrollview {
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
    flex: 2;
  }

  & > header {
    height: 1.25rem;
    background: white;
    box-shadow: 0 0.1rem 0.1rem hsla(0,0%,0%,0.1);
    overflow: hidden;
    padding: 1rem;
    z-index: 1;
    color: hsl(0,0%,30%);

    & > span {
      margin-right: 2rem;
      line-height: 1.1;
      font-size: 1.4rem;
    }

    & > h5 {
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.1;

      flex: 2;
      margin: 0;
    }

    & > figure {
      margin: 0 0 0 auto;
    }
  }

  & > .chat-ui_scrollview > main {
    height: 100%;

    & > article {
      margin: 0.25rem 3rem 0.25rem 0.5rem;
      align-self: flex-start;

      /* alternation styles */
      &[mine] {
        margin-left: 3rem;
        margin-right: 0.5rem;
        align-self: flex-end;

        & > figure, & > section > h3 {
          display: none;
        }

        & > section {
          align-items: flex-end;

          & > p {
            background: hsl(200,100%,40%);
            border-radius: 1rem 0.25rem 0.25rem 1rem;

            &:first-of-type {
              border-radius: 1rem 1rem 0.25rem 1rem;
            }

            &:last-child:not(:first-of-type) {
              border-radius: 1rem 0.25rem 1rem 1rem;
            }
          }
        }
      }

      & > figure {
        margin: 0 0.5rem 0 0;
      }

      & > section {
        flex: 2;

        & > h3 {
          margin: 0 0 0 0.75rem;
          font-size: 0.7rem;
          font-weight: lighter;
          color: hsl(0,0%,60%);
        }

        & > p {
          background-color: hsl(200,100%,50%);
          color: white;
          font-size: 0.8rem;

          padding: 0.5rem 0.75rem;
          margin: 0;
          border-radius: 0.25rem 1rem 1rem 0.25rem;

          &:first-of-type {
            border-radius: 1rem 1rem 1rem 0.25rem;
          }

          &:last-child:not(:first-of-type) {
            border-radius: 0.25rem 1rem 1rem 1rem;
          }

          &:not(:first-child) {
            margin-top: 2px;
          }
        }
      }
    }
  }

  & > footer {
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;

    border-radius: 1rem 1rem 2px;
    box-shadow: 0.25rem 0.5rem 1rem hsl(0,0%,85%);
    background: white;

    & > textarea {
      -webkit-appearance: none;
      resize: none;
      white-space: normal;

      border: 0;
      background: transparent;

      &:focus {
        outline: none;
      }
    }
  }
}