@import '../../../css/vars.css';

/* TODO: Theming with var() */

chat-ui {
  width: var(--chat-ui_width);
  height: var(--chat-ui_height);

  background: var(--chat-ui_bg);
  /*border-bottom: 2px solid var(--theme-bg);*/

  overflow: hidden;
  position: relative;
}